version: 2.1

orbs:
  go: circleci/go@1.12.0
  prodsec: snyk/prodsec-orb@1

jobs:
  unit-test:
    executor:
      name: go/default
      tag: "1.25"
    steps:
      - checkout
      - go/load-cache
      - go/mod-download
      - go/save-cache
      - run:
          name: Unit Test
          command: make test
      - store_test_results:
          path: test/results

  integration-test:
    executor:
      name: go/default
      tag: "1.25"
    steps:
      - checkout
      - go/load-cache
      - go/mod-download
      - go/save-cache
      - run:
          name: Run Integration Tests
          command: |
            go test ./... -v -tags integration -run Integration
  lint:
    docker:
      - image: golangci/golangci-lint:v2.9.0-alpine
    steps:
      - checkout
      - run: golangci-lint run -v ./...

  security-scans:
    executor:
      name: go/default
      tag: "1.25"
    resource_class: small
    steps:
      - checkout
      - go/load-cache
      - go/mod-download
      - go/save-cache
      - prodsec/security_scans:
          mode: auto
          iac-scan: disabled

workflows:
  version: 2
  CI:
    jobs:
      - prodsec/secrets-scan: # DO NOT REMOVE OR MOVE THIS LINE
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          trusted-branch: main
          channel: snyk-vuln-alerts-unify
          filters:
            branches:
              ignore: main
      - security-scans:
          name: Security Scans
          context:
            - analysis_unify
      - unit-test:
          name: Unit Test
      - integration-test:
          name: Integration Test
          context:
            - cli-extension-os-flows
      - lint:
          name: Linting
